/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  #city {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  #search {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  #weather-data {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
  }

  #forecast {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    display: flex; /* Use flexbox for the forecast container */
    flex-wrap: nowrap; /* Prevent wrapping to new lines */
    justify-content: space-around; /* Distribute items along the main axis */
  }
  
  #forecast > div {
    flex: 0 0 18%; /* Adjust the width of each forecast item */
    text-align: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 600px) {
    /* Adjust styles for screens with a maximum width of 600px */
    .container {
      max-width: 90%;
      padding: 10px;
    }
  
    #weather-data,
    #forecast {
      padding: 10px;
    }
  }
  